@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Itim&display=swap');


@import url('reset.css');

body {
    background-image: url("static/mainbg.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-size: 1.1em;
    transition: 0.5s all;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

:root {
    --primary-color: white;
    --secondary-color: #FFC0CB;
    --shadow-color: rgb(255, 192, 203, 60%);
    --footer-color-primary:#482F4D;
    --footer-color-secondary:#9664A0;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 15px;
    background: white;
  }
::-webkit-scrollbar-thumb{
    background: pink;
}

  
.wrapper {
    position:relative;
    min-height: 500vh;
    min-height: 500svh;

}

.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85vw;
    position: sticky;
    top: 25px;
    z-index: 2;
    min-height: 50px;

}

.header__menu {
    display: flex;
    max-width: 580px;
    min-height: 100%;
    padding: 10px;
    gap: 60px
}

.menu:hover {
    color: var(--secondary-color);

}

.header__icons {
    display: flex;
    align-items: center;
    max-width: 300px;
    min-height: 50px;

    gap: 60px;
}

.icon {
    max-width: 70px;
    min-height: 70px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    min-height: 600px;
}

.main__profile {
    display: flex;
    align-items: center;
    width: 50%;
    min-height: 600px;

}

.profile__intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 400px;
    gap: 20px;
    animation: 1s ease-out 0s 1 slideInFromBottom;


}

span {
    font-size: 5.5em;
}

.second_color {
    color: var(--secondary-color);
}

.profile__info {
    font-size: 2.8em;
    color: var(--secondary-color);
    text-align: center;
    width: 80%;
    margin-top: -10%;
}

.profile__img_wrapper {
    width: 500px;
    height: 500px;
    background: url('static/profile-pic.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: ellipse(300px 400px at 60% 50%);
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.profile__images {
    display: flex;
    max-width: 50%;
    min-height: 400px;


}

.page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 100vh;
    height: 100vh;
    height: 100svh;
}

.slider-show {

    max-width: 1100px;
    min-height: 700px;
    overflow: hidden;
}


img {
    width: 100%;
    height: 100%;
}

.slide {
    width: 20%;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.navigation {
    position: absolute;
    width: 5%;
    height: 7%;

    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #f5f5f5;
    opacity: 50%;
    transition: .5s all;
}

.nav:hover {
    opacity: 100%;
}

input[name="btn"] {
    visibility: hidden;
    position: absolute;
}

#btn1:checked~.slide1 {
    margin-left: 0;
}

#btn2:checked~.slide2 {
    margin-left: -20%;
}

#btn2:checked~.slide1 {
    visibility: hidden;
}
footer{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:0px;
    width:100%;
    min-height:400px;
    background: #2C1C2F;
}
.footer__wrapper{
display:flex;
position:relative;
align-items:flex-start;
justify-content:space-between;
min-height:300px;
width:70%;

}
.column{
    height:890%;
    max-width:285px;
    
}
.title{
    width:100%;
    color:var(--footer-color-secondary);
    height:50px;
    font-size:24px;
    margin-bottom:20px;
    border-bottom:2px solid var(--footer-color-secondary);
}
.variant{
    font-size:20px;
    color:var(--footer-color-primary);
}
.copyright{
    position:absolute;
    bottom:0px;
    color:var(--footer-color-primary);
}